.login-container{
display: flex;
height: 100vh;
}

.login-left {
    flex-basis: 33.33%; /* Take up 1/3 of the width */
    background-color: #f1f1f1;
}

.login-left-image{
    width: 100%;
    height: 100%;
}

  
.login-right {
flex-basis: 66.67%; /* Take up 2/3 of the width */
background-color: #ebebeb;
}
