.address__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.address__info{
    display: flex;
    justify-content: space-between;
}

.address__action{
    display: flex;
    gap: 15px;
}

.address-button{
    padding: 10px 20px;
    font-size: 14px;
    width: fit-content;
    background-color: transparent;
    border: 1px solid #9f9f9f;
}

.button-change{
    border: 1px solid #F8B601;
    color: #F8B601;
}

.address__info-location{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.address__info-location-text{
    font-size: 16px;
}



