.address-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.address-container__info{
    display: flex;
    justify-content: space-between;
}

.address-container-action{
    display: flex;
    gap: 15px;
}

.address-button{
    padding: 10px 20px;
    font-size: 1rem;
    width: fit-content;
    background-color: transparent;
    border: 1px solid #9f9f9f;
}

.button-change{
    border: 1px solid #F8B601;
    color: #F8B601;
}

.address-info__location{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.address-info__location-text{
    font-size: 1.2rem;
}



