{
    "version": "0.2.0",
    "configurations": [

        {
            "type": "chrome",
            "request": "launch",
            "name": "Launch Chrome against localhost",
            "url": "http://localhost:5173",
            "webRoot": "${workspaceFolder}"
        },
        {
            "type": "node-terminal",
            "name": "Run Script: start",
            "request": "launch",
            "command": "npm run start",
            "cwd": "${workspaceFolder}"
        },
        {
            "type": "node",
            "request": "launch",
            "name": "Launch Backend",
            "program": "${workspaceFolder}/backend/server.js",
            "cwd": "${workspaceFolder}/backend",
            "console": "integratedTerminal",
            "restart": true
        }
    ]
}