.cart-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.cart-item-container img{
    width: 12%;
    height: auto;
    border-radius: 10px;
}

.dish-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}
.dish-name{
    width: fit-content;
}
.dish-quantity{
    width: 20px;
    display: inline-block;
}
.modify-quantity-btn{
    border-radius: 100px;
    width: 15px;
    color: black;
    border-color: black;
}