.cart-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.cart-item-container .image{
    width: 8rem;
    height: auto;
    border-radius: 10px;
}

.cart-item-container .image--small{
    width: 4rem;
}

.cart-item-container .image--normal{
    width: 8rem;
}

.dish-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}
.dish-name{
    width: fit-content;
}
.dish-quantity{
    width: 20px;
    display: inline-block;
}
.modify-quantity-btn{
    border-radius: 100px;
    width: 15px;
    color: black;
    border-color: black;
}

.action-button{
    display: flex;
    gap: 10px;
}