.wrapper-container {
  display: flex;
  height: 100vh;
}

.form-title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 4rem;
}

.form-label {
  font-size: 1.7rem;
}

.form-input {
  border-radius: 30px !important;
  padding: 7px 15px !important;
}

.form {
  position: absolute;
  width: 520px;
  height: auto;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.form__submitBtn {
  width: 100%;
  margin: 10px 0 20px 0px !important;
  padding: 7px 0 !important;
  font-size: 1.3rem !important;
  border-radius: 30px !important;
  border: none !important;
  background-color: var(--primary) !important;
}

.form__redirectLink-container {
  text-align: center;
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

