.sidebar--right {
    right: 0;
    padding: 25px 15px 10px;
    position: relative;
    overflow-y: auto;
    background-color: #FFFFFF;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}