.cart-container__action {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-container__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-container__action>button {
    padding: 10px;
}

.cart-container__service-container {
    display: flex;
    justify-content: space-between;
}

.cart-container__total-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.cart-container__total-container__title {
    font-size: 2rem;
    font-weight: 500;
}


.cart-container__action__button-coupon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--primary);
}

.cart-container__button-coupon-text {
    color: var(--black);
    font-size: 1.2rem;
}

.cart-container__button-coupon-icon {
    background-color: var(--primary);
    padding: 5px;
    border-radius: 12px;
}

.cart-container__action__button-coupon {
    font-size: 14px;
    color: var(--white);
}

.cart-container-action__button-checkout {
    background-color: var(--primary);
    color: var(--white);
}