.sidebar--left {
  position: relative;
  flex: 0 0 9.5rem;
  background-color: #ffffff;
  overflow: hidden;
  transition: flex-basis 0.3s ease-in-out;
}

.sidebar__logo {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  transition: all 0.5s ease;
}

.sidebar--left:hover {
    flex-basis: 25rem;
    /* transition: all 0.5s ease; */
}