.sidebar--left{
  position: relative;
  left: 0;
  background-color: #ffffff;
  width: 120px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.sidebar__logo{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    transition: all 0.5s ease;
}

.sidebar--left:hover{
    width: 350px;
    transition: all 0.5s ease;
}