.navbar__list{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
  .navbar__link {
    position: relative;
    font-size: 14px;
    display: flex;
    width: 300px;
    padding: 10px;
    color: black;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    gap: 10px;
  }

  .navbar__item{
    cursor: pointer;
    border-radius: 8px;
  }

  .navbar__item:hover {
    background-color: var(--primary);
  }


  .navbar__item:hover svg path{
    fill: var(--white);
  }

  .navbar__item:hover span{
    color: var(--white);
  }
  
  .navbar__link svg {
    width: 35px;
    height: 35px;
    margin: 0 20px;
  }
  
  .navbar__link span {
    position: relative;
    vertical-align: middle
  }