.category-item img {
  width: 56px;
  height: 56px;
  height: auto;
}

.category-item span {
  font-size: 1.8rem;
  font-weight: 400;
}

.category-item {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--white);
  flex: 1 1 160px;
  height: 140px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
}
