.login-social {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .socialBtn {
    display: inline-flex !important;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 20px;
    font-size: 1.4rem !important;
  }
  