.sidebar__right{
    right:0;
    padding: 30px 30px 10px;
    position: relative;
    overflow-y: scroll;
    background-color: #FFFFFF;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}