.sidebar--right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    overflow-y: auto;
    right: 0;
    padding: 25px 15px 10px;
    gap: 20px;
    background-color: #FFFFFF;
}