.category-item img {
  width: 30%;
  height: auto;
}

.category-item span {
  font-size: 1.8rem;
  font-weight: 400;
}

.category-item {
  display: flex;

  flex-flow: column wrap;
  background-color: var(--white);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
