
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  color: #a098ae;
  min-height: 100vh;
}

.wrapper-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar{
  width: 20%;
  background-color: #ffffff;
}

.main-content{
  width: 60%;
  background-color: #f5f5f5;
}

.sidebar,
.main-content {
  text-align: center;
}

.sidebar-left .logo{
  width: 40%;
}