
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  color: #a098ae;
  min-height: 100vh;
}

.wrapper-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar{
  position: relative;
  top: 0;
  height: 100%;
  background-color: #ffffff;
  color: black;
}

.main-content{
  width: 60%;
  background-color: #f5f5f5;
}

.sidebar .sidebar-left{
  left: 0;
  /* width: 260px; */
}

.sidebar .sidebar-right{
  right: 0;
  /* width: 260px; */
}

/* .sidebar,
.main-content {
  text-align: center;
} */

